

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #FFFFFF; /* Texte blanc global */
    background-color: transparent; /* Pas de couleur de fond, image visible */
}

/* Réinitialisation du fond pour les autres sections */
.u-background {
    background: transparent; /* Aucun fond de couleur, s'assurer que l'image est visible */
}



/* Titre principal */
h1 {
    text-align: center;
    color: purple;
}

    .main-collapsible:hover, .sub-collapsible:hover {
        background-color: #ddd;
    }


.navbar {
    display: flex;
    gap: 20px;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

    .navbar a {
        color: white;
        text-decoration: none;
        padding: 10px;
        border-radius: 5px;
    }

        .navbar a:hover {
            background-color: #555;
        }


.dropdown {
    position: relative;
}

.dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    display: none;
    padding: 10px;
    border-radius: 5px;
    width: 200px; /* Largeur ajustée du menu */
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: white; /* Texte blanc */
    text-decoration: none;
    padding: 10px;
    display: block;
}

    .dropdown-content a:hover {
        background-color: #555; /* Couleur de survol du lien */
    }