/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #FFFF;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: purple;
}

/* Conteneur de la page avec l'image de fond */
.page-container {
    background-image: url('/images/image.jpg'); /* Assurez-vous de placer l'image dans 'static/images/' */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Collapsible sections */
.main-collapsible, .sub-collapsible {
    cursor: pointer;
    font-weight: bold;
    color: black;
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid #ccc;
    background-color: #f1f1f1;
    margin-top: 10px;
}

.main-collapsible-content, .sub-collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background-color: #000000;
    padding: 0 10px;
}

/* Navbar */
.navbar {
    display: flex;
    gap: 20px;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
}

    .navbar a {
        color: white;
        text-decoration: none;
        padding: 10px;
    }

/* Sous-menu */
.dropdown {
    position: relative;
}

.dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #444;
    z-index: 10;
    display: none;
    padding: 10px;
    border-radius: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}
